* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

body {
    background-color:rgb(230, 230, 230);
    padding-top: 100px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header img {
    height: 60px;
    margin-right: 16px;
}

header h1 {
    font-size: 60px;
    font-weight: bold;
    color:black;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    max-width: 990px;
    width: 100%;
    justify-content: right;
    margin-bottom: 40px;
}

form input {
    font-size: 30px;
    background-color: #fff;
    border-bottom: 2px solid #000;
    max-width: 640px;
    width: 100%;
}

form button {
    background-color:rgb(230, 110, 11);
    color:#000;
    font-size: 40px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 350px;

}

form button:hover {
    background-color: brown;
    color:#fff ;
}

#item-tarefa {
    cursor: pointer;
}